.content {
    display: flex;
    height: 90%;
    padding-bottom: 1.5rem;
}

td,
th {
    border: 1px solid black;
    font-weight: bold;
}

.rTable {
    width: 100%;
    text-align: center;
}

.rTable td {
    padding: 7px 0;
}

.rTable thead {
    background-color: #fff;
    font-weight: bold;
}

.cabecalhoTable{
    padding: 5px;
}

tbody {
    background-color: rgba(138, 197, 239, 0.592)
}

.totalUnidades {
    font-size: 0.9rem;
    letter-spacing: 1px;
}

@media screen and (max-width:850px) {
    .content {
        width: 100%;
        overflow-x: auto;
    }
    .rTable{
        overflow-x: auto;
    }

    td,
    th {
        font-size: 0.8rem;
    }

    .totalUnidades {
        font-size: 0.8rem;
        letter-spacing: 1px;
    }

    .rTable {
        overflow-x: auto;
    }

    .rTable tbody tr td:nth-child(1) {
        width: 20%;
    }

    .rTable tbody tr td:nth-child(2) {
        width: 10%;
    }

    .rTable tbody tr td:nth-child(3) {
        width: 10%;
    }

    .rTable tbody tr td:nth-child(4) {
        width: 10%;
    }

    .rTable tbody tr td:nth-child(5) {
        width: 10%;
    }

    .rTable tbody tr td:nth-child(6) {
        width: 10%;
    }

    .rTable tbody tr td:nth-child(7) {
        width: 10%;
    }

    .rTable tbody tr td:nth-child(8) {
        width: 10%;
    }

    .rTable tbody tr td:nth-child(9) {
        width: 10%;
    }
}


@media screen and (min-width:1280px) {

    .content {
        width: 100%;
        overflow-x: auto;
    }

    .rTable tbody tr td:nth-child(1) {
        width: 20%;
    }

    .rTable tbody tr td:nth-child(2) {
        width: 10%;
    }

    .rTable tbody tr td:nth-child(3) {
        width: 10%;
    }

    .rTable tbody tr td:nth-child(4) {
        width: 10%;
    }

    .rTable tbody tr td:nth-child(5) {
        width: 10%;
    }

    .rTable tbody tr td:nth-child(6) {
        width: 10%;
    }

    .rTable tbody tr td:nth-child(7) {
        width: 10%;
    }

    .rTable tbody tr td:nth-child(8) {
        width: 10%;
    }

    .rTable tbody tr td:nth-child(9) {
        width: 10%;
    }
}